<header class="main-header">

    <!-- Logo -->
    <a href="/Dashboard/Dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/content/dist/img/logo.png" alt="logo"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/content/dist/img/main-logo.png" alt="logo"></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <form class="navbar-form navbar-left hidden-xs" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </form>
                <li class="dropdown notifications-menu">
                    <a id="notificationBellLinkFromHeader" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-bell-o"><label id="bell" style="color:white"></label></i> <span class="label label-warning"></span> </a>
                    <ul class="dropdown-menu">
                        <li class="header"></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="notificationmenu">
                                
                                @*<li> <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today </a> </li>*@
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                @{

                    if (Session["RoleID"].ToString() == "1")
                    {
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="@Session["Imagepath"].ToString()" class="user-image" alt="User Image"> <span class="hidden-xs">Admin</span> </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@Session["Imagepath"].ToString()" class="img-circle" alt="User Image">
                                <p> @Session["UserName"].ToString() </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                @*<div class="pull-left"> <a href="#" class="btn btn-default btn-flat">Profile</a> </div>*@
                                <div class="pull-right"> <a href="/Account/Logout" class="btn btn-default btn-flat">Sign out</a> </div>
                                <div> <a href="/Account/ChangePassword/@Convert.ToInt32(Session["UserId"].ToString())" class="btn btn-default btn-flat">Forget Password</a> </div>
                            </li>
                           
                        </ul>
                    </li>
                    }
                    else if (Session["RoleID"].ToString() == "2")
                    {
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="@Session["Imagepath"].ToString()" class="user-image" alt="User Image"> <span class="hidden-xs">User</span> </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Session["Imagepath"].ToString()" class="img-circle" alt="User Image">
                                    <p> @Session["UserName"].ToString() </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left"> <a href="#" class="btn btn-default btn-flat">Profile</a> </div>*@
                                    <div class="pull-right"> <a href="/Account/Logout" class="btn btn-default btn-flat">Sign out</a> </div>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">User</span> </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p> User Name </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left"> <a href="#" class="btn btn-default btn-flat">Profile</a> </div>
                                    <div class="pull-right"> <a href="/Account/Logout" class="btn btn-default btn-flat">Sign out</a> </div>
                                </li>
                            </ul>
                        </li>
                    }
                }


                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>